{% extends 'base.html' %}

{% block content%}
<center><img src="{{ url_for('static', filename= filename) }}" alt="" style="width: 300px; height:300px;"></center>
<br>
<br>
{% if show==True %}
<center>

    {% if message=="The chest xray does not depict pneumonia" %}
    <h3><span class="badge badge-success">{{message}}</span></h3>
    {%endif%}

    {% if message=="The chest xray shows signs of pneumonia" %}
    <h3><span class="badge badge-danger">{{message}}</span></h3>
    {%endif%}
    <br>
    <br>

    <a href="/" class="btn btn-info" role="button">Go Back</a>
</center>
{% else %}
<center>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div style="display:flex; justify-content: center; gap: 10px">
        <label for="file">Please Upload Chest X-Ray: </label>
        <input type="file" name="img" id="img">
        </div>
        <button style="text-align: center;" type="submit" class="btn btn-primary ml-3">Submit</button>
    </form>
    <br>
    <br>
    {{message}}
</center>
{% endif %}
{% endblock%}